src/evalcap/cider
src/evalcap/cider/*
src/evalcap/coco_caption
src/evalcap/coco_caption/*
src/evalcap/coco-caption
src/evalcap/coco-caption/*
src/modeling/passt/passt-s-f128-p16-s10-ap.476-swa.pt

# ignore dataset
datasets/metadata
datasets/meta/*
datasets/metadata.zip
datasets/videos
datasets/videos/*
datasets/audios
datasets/audios/*
datasets/frames
datasets/frames/*
datasets/frame_tsv
datasets/frame_tsv/*
datasets/audio_mp3
datasets/audio_mp3/*
datasets/audio_hdf
datasets/audio_hdf/*

# ignore pt models
models/video_swin_transformer/*.pth
models/pretrained_checkpoint/*

# ignore exp output
output
wandb/*